body {
	/* background-color: #552929; */
	background-image: url("../images/background.jpg");
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    color: white;
    background-color: #302c2c;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    z-index: 9999;
    margin-left: -7px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 24px;
    font-size: 24px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: right;
    color: white;
    
}

.nav-box {
    display: none;
}

.show-nav {
    background-color: #302c2c;
    color: white;
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid white;
    /* margin-top: -12px; */
    height: 50px;
}

.nav-links {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 22px;
}

i.fa-search {
    margin-right: 20px;
}

i.fa-bars {
    font-size: 20px;
    margin-right: 24px;
}

a {
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	cursor: pointer;
}

main {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 74px;
}

.move-main {
    margin-top: 124px;
}

.welcome {
    background-color: #d1d1d1;
    
}

h3 {
    font-size: 24px;
    text-align: center;
    padding-top: 16px;
}

.box {
    background-color: #d1d1d1;
    border-radius: 30px;
}

.about-text {
    font-size: 16px;
    padding: 0 24px 24px 24px;
    text-align: center;
}

.contact.email {
    font-size: 16px;
    text-align: center;
    padding-bottom: 16px;
}

.socials-ul {
    display: flex;
    justify-content: center;
}

.icon {
    margin: 0 10px 10px 10px;
    height: 60px;
}

@media screen and (min-width: 992px) {
    nav{
        display: none;
    }

    header {
        display: flex;
        margin-left: -10px;
    }

    .nav-box {
        display: flex;
    }

    main {
        width: 600px;
        margin: 0 auto;
        margin-top: 74px;
    }
}